* {
    font-family: 'Montserrat', sans-serif;
}

.nav-item {
    font-size: 1.2em;
    font-weight: bold;
}

.nav-link {
    color: white !important;
}

.btn {
    font-weight: bold !important;
}

.bg-cobalt {
    /*background-color: rgb(129, 227, 251);*/
    background-color: rgb(0,71,171);
}

@media only screen and (max-width: 991px) {
    .desktop-only {
        display: none;
    }

    .card {
        margin-bottom: 10px;
    }
}

.card {
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0) !important;
    border: 1px solid white !important;
    -webkit-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.35);
    box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.35);
    transition: 0.1s linear;
}

.card-header {
    background-color: rgba(255,255,255,0.025) !important;
    border-bottom: 1px solid white !important;
}

.card-gold {
    border: 2px solid rgb(0,71,171) !important;
}

.card-header-gold {
    border-bottom: 2px solid rgb(0,71,171) !important;
}

.card-header p {
    margin: 0;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/arrow-down.svg) !important;
    transform: rotate(0deg) !important;
}

.accordion-button::after {
    background-image: url(../images/arrow-down.svg) !important;
}

.icon {
    width: 100px;
}

.socials a {
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: .15s;
}

.socials a:hover {
    color: rgb(0, 135, 245);
}

.nav-item a:hover {
    color: rgb(0, 135, 245) !important;
}

.socials a i {
    font-size: 30px;
}

.accordion-body p {
    margin-bottom: 0 !important;
}

.hidden {
    display: none !important;
}

.animation {
    animation-name: fadeIn;
    animation-duration: 1s;
}

@keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.accordion-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn {
    background-color: rgb(0,115,207) !important;
    border-color: rgb(0,115,207) !important;
}

.btn:hover {
    background-color: rgb(0, 135, 245) !important;
    border-color: rgb(0, 135, 245) !important;
}

.accordion {
    border-radius: .25em;
    border-bottom: 3px solid rgb(0, 135, 245) !important;
}

.accordion-button {
    background-color: rgba(255,255,255,0.025) !important;
}

.divider {
    width: 100px !important;
    border: 1px solid rgba(255,255,255,0.35);
}

.fa-question-circle {
    padding-right: 5px;
}

.copyright {
    font-size: 0.75em;
}

.card-hover:hover {
    transform: scale(1.025);
    -webkit-box-shadow: 0px 4px 6px 5px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 4px 6px 5px rgba(0,0,0,0.35);
    box-shadow: 0px 4px 6px 5px rgba(0,0,0,0.35);
    transition: 0.25s linear;
}

.hover-effect {
    transition: 0.1s linear;
}

.hover-effect:hover {
    transform: scale(1.025);
    transition: 0.25s linear;
}

.bg-trueblue {
    background-color: rgb(0,115,207);
}

.korting {
    margin: 5px 0 5px 0 !important;
}

.extra-tekst {
    background-color: rgb(0,115,207);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    width: 100%;
    padding: 5px;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.15);
}

.footer-logo {
    width: 250px !important;
}

footer ul {
    padding: 0 !important;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    text-decoration: none;
    color: white;
    transition: .15s;
}

footer ul li a:hover {
    color: rgb(0, 135, 245) !important;
}

footer ul li a i {
    font-size: 30px;
}

.list-title {
    font-size: 1.3em;
}