* {
    font-family: 'Montserrat', sans-serif;
}

.nav-item {
    font-size: 1.2em;
    font-weight: bold;
}

.nav-link {
    color: white !important;
}

.btn {
    font-weight: bold !important;
}

.bg-aqua {
    background-color: rgb(129, 227, 251);
}

@media only screen and (max-width: 991px) {
    .desktop-only {
        display: none;
    }

    .card {
        margin-bottom: 10px;
    }
}

.card {
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0) !important;
    border: 1px solid white !important;
}

.card-header {
    border-bottom: 1px solid white !important;
}

.card-gold {
    border: 2px solid rgb(255, 193, 22) !important;
}

.card-header-gold {
    border-bottom: 2px solid rgb(255, 193, 22) !important;
}

.card-header p {
    margin: 0;
}

.pakketten, .vragen {
    text-align: center;
    color: white;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/arrows/arrow-down.svg) !important;
    transform: rotate(0deg) !important;
}

.accordion-button::after {
    background-image: url(../images/arrows/arrow-down.svg) !important;
}

.icon {
    width: 100px;
}

.float-end a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.float-end a:hover {
    color: rgb(189, 189, 189);
}

.float-end a i {
    font-size: 40px;
}

.accordion-body p {
    margin-bottom: 0 !important;
}

.hidden {
    display: none !important;
}

.animation {
    animation-name: fadeIn;
    animation-duration: 1s;
}

@keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.accordion-button:focus {
    outline: none !important;
    box-shadow: none !important;
}